<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t.ctcdn.com.br/1vcOOXXr2P-c5XrfXVlZ0nHpqoY=/768x432/smart/i526640.png" alt="IMAGEM" height="200"
      srcset="">
  </div>

    <div class="big-card__title">
      <h1><a href="#">Naruto é o melhor anime que existe</a></h1>
    </div>

  <div class="big-card__description">
    <p><a>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel alias sed enim fugit, reprehenderit
      distinctio dolore voluptatem provident voluptatibus, ullam, officiis maxime doloremque repellat a saepe quaerat
      labore necessitatibus!.
    </a> </p>
  </div>

</div>
