<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://t.ctcdn.com.br/1vcOOXXr2P-c5XrfXVlZ0nHpqoY=/768x432/smart/i526640.png"
    cardTitle="Naruto modo sapo"
    cardDescription="Neste modo o Naruto está absorvendo a energia da natureza."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://x.gd/vqlFu"
    cardTitle="Sakura"
    ></app-small-card>
    <app-small-card
    photoCover="https://x.gd/2Dra0"
    cardTitle="Hinata"
    ></app-small-card>
    <app-small-card
    photoCover="https://x.gd/FawFf"
    cardTitle="Tsunade"
    ></app-small-card>
  </div>
</div>
