
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover="https://x.gd/m3DVC"
    cardTitle="Naruto modo sapo"
    cardDescription="Neste modo o Naruto está absorvendo a energia da natureza."
    ></app-big-card>
  </div>
  <div class="articles__others">

    <app-small-card
    id="2"
    photoCover="https://x.gd/vqlFu"
    cardTitle="Sakura"
    ></app-small-card>
    <app-small-card
    id="3"
    photoCover="https://x.gd/2Dra0"
    cardTitle="Hinata"
    ></app-small-card>
    <app-small-card
    id="4"
    photoCover="https://x.gd/FawFf"
    cardTitle="Tsunade"
    ></app-small-card>
  </div>
</div>
